body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #de9fdd, #a54e91);
    color: #333;
    text-align: center;
    padding: 100px;
}

#wordDisplay {
    font-family: monospace;
    letter-spacing: 5px;
    font-size: 28px;
    margin: 20px 0;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #7a49a5;
    border-radius: 10px;
    background: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

input[type="text"] {
    padding: 10px;
    font-size: 18px;
    border: 2px solid #7a49a5;
    border-radius: 8px;
    outline: none;
    width: 150px;
    text-align: center;
    transition: border 0.2s;
}

input[type="text"]:focus {
    border-color: #7a49a5;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background: #7a49a5;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
    transition: background 0.2s;
}

button:hover {
    background: #7a49a5;
}

#message {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}